body{
    background-color: black;
    color: white;
}
/* specific to all table tags */
table{
    font-family: 'Times New Roman', Times, serif;
    border:solid 2px red;
    border-collapse: collapse;
    width: 100%;

}

tr{
    background-color: gray;
}
/*td,th clubbing/grouping to tag selectors together */
/* td,th{
    border: solid 1px yellow;
    text-align: left;
} */
th{
    width: 10%;
}

/* tr:nth-child(even){
    background-color: orange;
    text-decoration: underline;
} */ 

tr:nth-col(odd){
    background-color: pink;
    color: orange;
}